body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5; /*espaço entre as linhas de tudo*/
}

img{
max-width: 100%; /*largura máxima de qualquer imagem*/
}

.container{ /*classe p tudo que precisa ficar centralizado*/
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 1em;
    padding-left: 1em;
    max-width: 980px;
}

.header{
    background-color: #fff;
    width: 100%;
}

.logo-text{
    text-transform: uppercase; /*tudo maiúculo*/ 
    background-color: #63c6ae;
    font-size: 24px; /*tamanho da fonte*/
    margin: 0;
    padding: 20px;
    display: block; /*posição em bloco*/
    float: left; /*flutua p a esquerda*/
    text-decoration: none; /*sem o sublinhado por ser um link*/
    font-weight: bold; /*mais ênfase na fonte*/
    color: #fff;
    text-align: right; /*coloca o logo p a direita*/
}

.header__nav{
    clear: left; /*limpa o float: left colocado no logo-text*/
}

.header__nav ul{
    margin: 0;
    padding: 0;
}

.header__nav li{
    list-style-type: none; /*tira os bullets*/
    background-color: #242a2c;
    text-align: center; /*posição do texto*/
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2); /*borda*/
}

.header__nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600; /*nº fonte pega no google fonts*/
    display: block; /*atinge toda a área de cada bloco e os deixam sensíveis ao clique*/
    padding: 25px 0; /*área atingida internamente de cada bloco*/
    transition: .8s ease; /*p deixar mais suave a área clicável*/
}

.header__nav a:hover{ /*ao passar o mouse sobre*/
    color: #63c6ae;
}

.header__btnMenu{

}

.hero{
    height: 80vh; /*altura de 80% da viewport*/
    padding: 40px 20px;
    text-align: center;
    display: flex; /*ajeita na vertical*/
    flex-direction: column; /*p acertar as linhas que desalinharam*/
    justify-content: center; /*centraliza*/
    align-items: center; /*deixa tudo da área centralizado, inclusive o botão*/

    /*gradient 1 e 2 + imagem --> gradient 1 e 2 = formam o desenho da seta branca na imagem*/
    background: linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat, /*gradient 1*/
                linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat, /*gradient 2*/ 
                url(../img/01.jpg); 
    background-size: 40px 40px, 40px 40px, cover; /*gradient 1 e 2 c/ 40 de altura e 40 de largura e, cover p a imagem ocupar todo o espaço*/
}

.hero__title{
    background-color: #63c6ae;
    color: white;
    font-size: 28px;
    font-weight: 600; /*nº fonte pega no google fonts*/
    padding: 30px, 20px;
    text-transform: uppercase;
}

.hero__text{
    background-color: #242a2c;
    margin: 5px 30px 35px;
    color: white;
    padding: 20px;
    font-size: 16px;
}

.hero__btn{
    border: 1px solid rgba(255, 255, 255, .3);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px; /*formato da borda*/
    padding: 15px 25px;
    display: inline-block; /*diminui o tamanho do bloco/botão*/
    color: white;
    text-decoration: none; /*sem o sublinhado por ser um link*/
    font-size: 16px;
    font-weight: 600; /*nº fonte pega no google fonts*/
    text-transform: uppercase;
}

.people-cards{
    margin-top: 2.5em;
}

.people-cards__card{
    
}

.people-cards__card:hover{
    outline: 5px solid #63c6ae; /*coloca uma borda sem modificar em nada o conteúdo*/
    outline-offset: -5px; /*anda com o outline p fora e p dentro do elemento, p fora é com valor positivo e, p dentro é com valor negativo*/ 
}

.people-cards__card:hover .people-cards__avatar img{ /*efeito do avatar ao passar o mouse*/
    transform: translateY(-50%);
}

.people-cards__card:hover .people-cards__title,
.people-cards__card:hover .people-cards__text{
    color: #63c6ae; /*cor da fonte ao passar o mouse*/
}

.people-cards__image{
    width: 100%;
}

.people-cards__avatar{
    margin: -55px auto; /*auto p centralizar*/
    width: 88px;
    height: 88px;
    overflow: hidden; /*p esconder o 2º pedaço da imagem do avatar*/
}

.people-cards__content{ /*título e texto dos cards*/
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #dbe1e7;
}

.people-cards__title{
    color: #737c85;
    font-size: 21px;
    font-weight: normal; /*efeito da fonte*/   
}

.people-cards__text{
    color: #929da5;
    font-size: 14px;
}

.content{
    background-color: #f8f9f9;
    padding: 20px 0 80px;
    border-top: 1px solid #e3e3e3;
}

.content h3{
    color: #737c85;
    font-size: 21px;
    padding-top: 40px;
    font-weight: 400; /*nº fonte pega no google fonts*/
}

.content p{
    color: #929da5;
    font-size: 14px;
    word-spacing: 3px; /*espaçamento entre as letras*/
}

.button{
    padding: 15px 40px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
    border-radius: 3px;
    transition: background .5s;
}

.button-primary{
    background-color: #63c6ae;
    color: white;
}

.button-secundary{
    background-color: #455357;
    color: white;
}

.button:hover{
    background-color: #929da5;
}

.last-articles__title{
    background-color: #63c6ae;
    padding: 5px 0;
}

.last-articles__title h2{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 400; /*nº fonte pega no google fonts*/
}

.last-articles__thumbs{ /*encaixe das imagens*/
    display: grid; /*p deixar uma img abaixo da outra*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}

/*auto-fill = p que as imgs fiquem s encaixadas na largura do pai e encaixe quantas forem necessárias*/
/*max 1fr = máximo uma fração */
/*grid-auto-rows - está rel. com o auto-fill, cada linha criada, automaticamente, terá o grid-auto-rows*/

.last-articles__thumbs img{ /*p corrigir os espaços entre as imgs*/
    display: block;
    width: 100%; /*p q as imgs ocupem todo o espaço e ñ haja intervalo entre elas*/
}

.laptop-slider{
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto; /*add a barra de rolagem nesta div, se tiver que ter uma barra de rolagem*/
}

.slideshow{
    white-space: nowrap;
    /*white-space = trata como o elemento deve se comportar quando se tem um espaço em branco. Por padrão quebra a linha
    now-rap = ñ permite a quebra de linha, ou seja, tds as imgs ficarão obrigatóriamente em uma única linha*/
}

.slideshow figure{
    display: inline-block; /*p se comportar como uma única linha*/
}

.quote-container{
    background-color: #63c6ae;
    padding: 50px 0;
    border-bottom: 12px solid #58b9a1;
}

.quote-slideshow h2{
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: normal; /*tira o negrito*/
}

.quote-slideshow figcaption{
    color: white;
    font-size: 18px;
    text-align: center;
}

/*no-js = p quando o js ñ estiver habilitado. Foi colocado no html em body e estou usando aqui*/
.no-js .quote-slideshow figure + figure{ /*pega toda tag figure que vêm imediamente após a outra tag figure q está em .quote-slideshow*/
    margin-top: 5em;
}

.footer{
    background-color: #242a2c;
    padding: 50px 0 250px;
    color: #454e51;
    font-size: 14px;
}

.footer__links li{
    list-style: none; /*tira os bullets*/
}

.footer__links a{
    color: #454e51;
    display: block;
    font-weight: 600; /*nº fonte pega no google fonts*/
    text-decoration: none; /*sem o sublinhado por ser um link*/
}

.footer__logo{
    text-transform: uppercase;
}

/*responsividade*/
@media screen and (min-width: 1024px){
    .header{ 
        position: fixed; /*posição fixa*/
    }

    .logo-text{
        width: 25%; /*25% do elemento pai*/
        box-sizing: border-box; /*p q o padding de 20px colocado lá em cima em .logo-text ñ some ao tamanho do elemento*/
    }
    
    .header__btnMenu{
        display: none; /*ñ aparecerá na visualização com o js, oq aparecerá será o botãozinho de menu c js habilitado*/
    }

    .header__nav{
        float: left; /*coloca a nav ao lado do logo*/
        width: 75%; /*pois o logo já tem 25%*/
        clear: none; /*limpa o clear: left colocado anteriormente mais pra cima*/
        max-width: 800px; /*deixa os elementos do menu mais próximos*/
    }

    .header__nav ul{
        display: flex; /*pois fica mais fácil distribuir os elementos de dentro (cada uma das li)*/
        justify-content: space-around; /*distribui os elementos do menu*/
    }

    .header__nav li{
        border-bottom: none; /*tira o border-bottom colocado anteriormente mais pra cima*/
        flex-grow: 1; /*deixa mais sensível a área de clique de cada uma das li do menu*/
    }

    .header__nav a{
        background-color: white;     
    }
    
    .people-cards{
        display: grid; /*p deixar um card ao lado do outro*/
        grid-template-columns: repeat(4, 1fr); /*4 colunas iguais*/
        grid-gap: 30px; /*espaço entre os cards*/
    }

    .content .container{
        display: flex; /*transforma os dois conteúdos em 2 colunas*/
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .last-articles__thumbs{
        grid-template-columns: repeat(6, 1fr); /*distribui as imgs em 6 colunas quando a pág. estiver no tamanho de 1024px*/
    }

    .footer .container{
        display: flex;
    }

    .footer .container > * { /*coloca uma margem apenas nos filhos diretos do container*/
        margin: 1.5em;

    }
    

} 



